body{
    font-family: Tahoma;
    background:#f2f2f2;
    margin:0;
    padding:20px;
}
.container{
    background:white;
    padding:20px;
    max-width:800px;
    margin:auto;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}
input, select, button{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:6px;
    border:1px solid #aaa;
    font-size:16px;
}
button{
    background:#2e7d32;
    color:white;
    border:none;
    cursor:pointer;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}
table, th, td{
    border:1px solid #999;
}
th, td{
    padding:8px;
    text-align:center;
}
.totalBox{
    margin-top:20px;
    padding:15px;
    background:#fff;
    border-radius:8px;
    font-size:18px;
    text-align:center;
}